@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    width: 100%;
    border:1px solid black;
}

th{
    border:1px solid black;
}

td{
    border-right:1px solid black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}